/* CSS Reset */
            
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar*/

.navbar {
    height: 20%;
    background-color: #022B3A;
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 80px;
    align-items: center;
}

.navbar-item {
    /* margin: 15px 45px 15px 45px;
    margin-left: 10px; */
    font-size: 26px;
}

.search-field {
    display: flex;
    margin-left: 0px;
}

/* input[type=text] {
    margin-top: 10px;
    height: 30px;
    width: 300px;
    border-radius: 7px;
} */

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    color: rgb(247, 251, 251);
    align-items: center;
}

.title>*{
    margin: 2px;
}
.title h1 {
    font-size: 20px;
}

/*Side menu*/

.side-menu-container {
    background-color: rgba(31, 122, 140, 1);
    width: 15%;
}

.side-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* link*/

.side-menu-item a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 30px;
}

a:hover {
    background-color: rgb(146, 192, 227);
}

.side-menu-item>a:first-child {
    margin-top: 50px;
    font-weight: bold;
}

.link-style {
    display: flex;
    flex-direction: column;
}

/*products container*/

.main-container {
    display: flex;
    flex-direction: row;
}

.grid-container {
    margin: 20px auto;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 450px;
    background-color: white;
    border: 2px solid rgba(130, 129, 129, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px 20px;
    font-size: 30px;
    text-align: center;
}
.grid-item:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);

}

.grid-item img {
    width: 50%;
    height: 40%;
    border-radius: 6px;
}

.grid-item-text {
    text-align: left;
    margin-top: 15px;
    font-size: 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.grid-item-text p {
    /* padding: 7px; */
    font-size: 15px;
}

.like-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-position {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-style-1 {
    background-color: #1F7A8C;
    border: none;
    border-radius: 25px;
    padding: 10px 5px;
    width: 90px;
    /* margin-right: 10px; */
    color: #fff;
}

.btn-style-2 {
    background-color: #BC4749;
    border-radius: 25px;
    border: none;
    padding: 10px 5px;
    width: 90px;
    color: #fff;
}

.btn-style-1:hover {
    background-color: rgb(7, 60, 70);
    color: white;
    transition: 0.5s;
}

.btn-style-2:hover {
    background-color: rgb(246, 21, 21);
    color: white;
    transition: 0.5s;
}

.add-icon {
    margin: auto;
}

/* The Modal (background) */

.modal {
    /* display: none; */
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* overflow: auto; */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.input {
    height: 20px;
    width: 200px;
    border-radius: 7px;
}

/* Pop up add category */
.popup-container {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.popup-container2{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.popup {
    height: 90vh;
    /* max-height: 650px; */
    width: 600px;
    background-color: #fff;
    border-radius: 16px;
    border: solid #000;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow-y: scroll;
}

.close-btn-pop {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.close-btn-pop img {
    width: 100%;
}
.close-btn-pop-two {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.close-btn-pop-two img {
    width: 100%;
}

.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 10px 0;
    height: 100%;
}

#thumbnail {
    display: none;
}
#thumbnail-two {
    display: none;
}
.thumbnail-div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-image: url('../images/category.png'); */
    background-position: center;
    background-size: contain;
    border: solid #000
}

.pop-form-input {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.pop-form-input>* {
    justify-content: center;
}

.pop-form-input textarea {
    margin-top: 10px;
    border-radius: 7px;
}

.quan-cat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inner-quan-cat {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}

.inner-quan-cat>* {
    margin: 3px 0;
}

.show {
    pointer-events: all;
    opacity: 1;
}
.revenue-container{
    display: flex;
    width: 100%;
}

.revenue-content{
    flex-grow: 1;
    /* width: 600px; */
    background-color: #BC4749;
}
.discount-content{
    width: 300px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount-btn{
    margin: 10px 0;
}
.discount-btn button{
    background-color: #1F7A8C;
    border: none;
    border-radius: 25px;
    padding: 10px 5px;
    width: 100px;
    /* margin-right: 10px; */
    color: #fff;
}
.discount-code{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 5px;
}
.discount-code:nth-child(odd){
    background-color: #E1E5F2;
}

.discount-pop{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 300px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 35px 5px;
    border: 1px solid black;
    border-radius: 25px;
}
.discount-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.discount-input >*{
    margin: 5px 0;
}
.discount-input-div{
    display: flex;
    flex-direction: column;

}
@media only screen and (max-width: 600px) {

    /* .navbar-container {
                    display: flex;
                    flex-direction: column;
                }*/
    .title h1 {
        font-size: 14px;
    }

    .navbar-item {
        font-size: 20px;
    }

    input[type=text] {
        height: 30px;
        width: 100px;
        border-radius: 7px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, 186px);
        margin: 13px 150px 10px auto;
    }

    .grid-item {
        width: 45vw;
        height: 40vh;
    }

    .side-menu-container {
        width: 25%;
        height: auto;
    }

    .side-menu-item a {
        font-size: 12px;
    }

    .grid-item-text {
        text-align: left;
        margin-top: 15px;
        font-size: 12px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}